name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: sharllesse
          template: classic
          base: header, repositories, activity, metadata
          config_timezone: Europe/Paris
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, lex, gnuplot
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: "github"
          plugin_languages_details: lines, percentage
          plugin_languages_indepth: yes
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_lines: yes
